@font-face {
    font-family: 'bebasneue';
    src: url('fonts/BebasNeue-Regular.ttf');
}
@font-face {
    font-family: 'passione-regular';
    src: url('fonts/PassionOne-Regular.ttf');
}
@font-face {
    font-family: 'passione-black';
    src: url('fonts/PassionOne-Black.ttf');
}
@font-face {
    font-family: 'passione-bold';
    src: url('fonts/PassionOne-Bold.ttf');
}
@font-face {
    font-family: 'Sriracha';
    src: url('fonts/Sriracha-Regular.ttf');
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    background-color: darkgray;
    min-height: 100vh;
    font-family: 'bebasneue';
}

header{
    background-color: black;
    color: white;
    text-align: center;
}
header >h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: 'passione-regular';
    font-size: 50px;
}
header >p{
    padding-bottom: 50px;
    
}
a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
    font-size: 1.2em;
}
div{
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 2em;
    padding-left: 30px;
    font-family: 'Sriracha';
    font-size: 20px;
    text-align: center;
}
.normal{
    background-color: white;
    color: black;
   
}
.image{
    background-color: rgb(51,51,51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.551);
    background-attachment: fixed;
}
.image>p{
    background-color: rgba(0, 0, 0,0.253);
    width: 400px;
    margin: auto;
    text-shadow: 2px 2px 0px black;
}
#img1{
    background-image: url(images/background001.jpg);
    background-position: right center;
    background-size: cover;
}
#img2{
    background-image: url(images/background002.jpg);
    background-position: left center;
    background-size: cover;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 20px;
} 